@tailwind base;
@tailwind components;
@tailwind utilities;


/* global css for all use */
input:focus,
textarea:focus{
  outline: none;
}

input::placeholder,
textarea::placeholder{
  font-size: 12px;
  font-weight: 500;
  color: rgb(98, 91, 91);
  letter-spacing: 1px;
}
.leaflet-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* EmployeeSlider.css */

.three-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.rotate-text{
  display: flex;
  animation: rotate360 10s linear;
}

.hover-scale-125:hover img {
  transform: scale(1.25);
  transition: transform 0.3s ease;
}
/* slider */

.slider-container {
  position: relative;
  width: 100%;
  height: 95vh;
  overflow: hidden;
}

.slider-line {
  position: absolute;
  text-wrap: wrap;
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 2px;
  color: white;
  width: 100%;
  bottom: 100px;
  right: 0;
  z-index: 99;
  width: 100%;
  height: 2px;
  /* background-color: red; */
  animation: slideLine 10s linear infinite; /* Adjust duration as needed */
}

.slider-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.visible {
  opacity: 1;
}

.slider-content img {
  width: 100%;
  height: 100vh;
}

.text-container {
  position: absolute;
  width: 100%;
  height: 600px;
  left: 0px;
  top: 0;
  display: flex;
  justify-content: start;
  opacity: 0;
  transform: translateX(0px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.text-container .left-part {
  width: 60%;
  height: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
}

.visible .text-container {
  opacity: 1;
  transform: translateX(100px);
}

@keyframes slideLine {
  from {
      left: 100%;
  }

  to {
      left: -100%;
  }
}

@keyframes rotate360 {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}



